@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
svg {
  height: 48px;
  
}
.activesvg{
  fill: #000000;
}

.abc{
  margin: 1rem ;
  padding-left: 1rem;
  padding-top: 1rem;

}
.def{
  display:flex;
  padding:1rem;

}
.xyz{
  display: flex;
  flex-direction: column;
 
}
.lmn{

  padding-right:1rem;
  margin:1rem;
}

input, textarea{
  @apply border-2 border-gray-300 rounded-md px-1 mb-1;
}
input:hover , textarea:hover{
  @apply border-2 border-blue-900
}
label{
  @apply px-1 mt-1
}
.btn-primary {
  @apply px-1 mt-2 bg-blue-900 text-white px-4 p-2 rounded-lg
}
table{
  @apply border-2 border-blue-900 w-full m-2 my-4
}
thead{
  @apply bg-blue-100
}
tbody{
}
td{}
