@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
svg {
  height: 48px;
  
}
.activesvg{
  fill: #000000;
}

.abc{
  margin: 1rem ;
  padding-left: 1rem;
  padding-top: 1rem;

}
.def{
  display:flex;
  padding:1rem;

}
.xyz{
  display: flex;
  flex-direction: column;
 
}
.lmn{

  padding-right:1rem;
  margin:1rem;
}

input, textarea, select{
  @apply border-2 border-gray-300 rounded-md px-1 mb-1 text-gray-600;
}
input:hover , textarea:hover, select:hover{
  border-color:  rgb(108, 108, 233);
  @apply border-2;
}
label{
  @apply px-1 mt-1
}
.btn-primary {
  background-color: #bc69ff;
  border-radius: 15px;
  border-color: white;
  border-width: 4px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
  

  @apply px-1 mt-2 text-white px-4 p-2 rounded-lg
}
.btn-primary:hover {
  border-radius: 15px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
	transition: 0.5s all;
  transform: scale(1.1); 
  

  @apply px-1 mt-2 text-white px-4 p-2 rounded-lg 
}

.btn-primary:active {
  border-radius: 15px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
	transition: 0.5s all;
  transform: scale(0.9); 
  

  @apply px-1 mt-2 text-white px-4 p-2 rounded-lg 
}
.rlink{
  @apply text-xl
}

.plink{
  @apply rounded-full w-16 h-16 border-4 cborder-blue-900 p-1
}
.plink:hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
	transition: 0.5s all;
  transition: 0.5s all;
  transform: scale(1.1); 
 
}
.rlink:active {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	transition: 0.5s all;
  transition: 0.5s all;
  transform: scale(0.9); 

 
}



.rlink:hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
	transition: 0.5s all;
  @apply rounded-lg

 
}
.rlink:active {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	transition: 0.5s all;
  @apply rounded-lg

 
}


table{
  border-color:  #6c6ce9;
  @apply border-2 w-full m-2 my-4 rounded-lg;
}
thead{
  background-color:#e5e5fe;
}
tbody{
}
td{}
.cborder-blue-900{
  border-color:  rgb(108, 108, 233);
  @apply text-xl
}
.dborder-blue-900{
  border-color:  rgb(108, 108, 233);
  @apply text-base;
}

.cbg-blue-900{
  background-color: rgb(108, 108, 233);
}
.cbg-red-900{
  background-color: #e6445f;
}
.cbg-white{
  background-color: rgb(255, 255, 255);
}
.ctext-blue-900{
  color: #6459DD;
}
.btn-prim{
  @apply bg-blue-900 text-white rounded-lg px-2;
}
.clink:hover{
  transition: 0.5s all;
  transform: scale(1.1); 
}
.clink:active{
  transition: 0.5s all;
  transform: scale(0.9); 
}

